.tasks-view-background-container {
  display: flex;
}
.create-task-view-container {
  background-color: #131213;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;

  width: 30vw;
}
.heading-create-task {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: 600;
  color: #f3aa4e;
}
.label-text {
  font-family: 'Roboto';
  font-size: 24px;
  color: #f1f5f9;
  font-weight: 600;
}
.input-element {
  font-family: 'Roboto';
  font-size: 18px;
  color: #64748b;
  padding: 10px;
  height: 40px;
  width: 280px;
  outline: none;
}
.buttn {
  background-color: #f3aa4e;
  height: 40px;
  width: 150px;
  font-family: 'Roboto';
  font-size: 18px;
  color: #f8f8f8;
  padding: 4px;
  border: none;
  border-radius: 10px;
}
.button-container {
  margin-top: 20px;
  text-align: center;
}
.task-list-items-container {
  background-color: #000000;
  width: 70vw;
  padding: 30px;
}
.list-tags-un-ordered-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
}
.para-text-task-items {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.un-ordered-list-display-list-items {
  padding: 0px;
}
.container-not-list {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-task-para {
  font-family: 'Roboto';
  font-size: 28px;
  color: #ffffff;
  font-weight: 600;
}
.input-container{
  display: flex;
  flex-direction: column;
}